
# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.nb-gradle-properties/

# Java specific
*.class
*.jar
*.war
*.ear

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
